*{
  margin: 0;
}

.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.mole {
  background-image: url('mole.jpg');
  background-size: cover;
}

.headbar {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headbar h1 {
  margin-left: 20pt;
}

.main_body {
  margin-left: 20pt;
}